<html>
	<head><title>Subject Information</title></head>
	<body>		
		<table width="100%" border="0">
		<tr>
		<td colspan="2" style="background-color:#FFA500;"><center>
		<h1>Exam Room Management</h1>
		</center></td>
		</tr>		
		<tr valign="top">		
		<td style="background-color:#FFD700;width:100px;text-align:top;"><center>
		<br /><b>Menu</b><br />
		<br /><input type="button" onclick="window.location.href='http://127.0.0.1:8000/subject/edit/{{ sub.subID }}/'" value="Edit"><br />
		<br /><input type="button" onclick="window.location.href='http://127.0.0.1:8000/subject/deleting/{{ sub.subID }}/'" value="Delete"><br />
		<br /><input type="button" onclick="window.location.href='http://127.0.0.1:8000/subject/'" value="Back">
		</center></td>
		<td style="background-color:#eeeeee;width:400px;height:600px;text-align:top;">
		<br />
		<h3>Subject Information</h3><br>
		{% if sub %}								
			<p style="text-indent:1in">Subject ID : {{ sub.subID }}</p>
			<p style="text-indent:1in">Subject Name : {{ sub.subName }}</p>			
		{% else %}
			<p>No Information</p>
		{% endif %}
		{% if sub %}								
			<script type="text/javascript">
			var r=confirm("Are you sure you want to delete?");
			if (r==true){
			  alert("Information has been deleted!");
			  window.location.href='http://127.0.0.1:8000/subject/deleted/{{ sub.subID }}/'
			}
			else{
			  window.location.href='http://127.0.0.1:8000/subject/{{ sub.subID }}/'
			}			
			</script>			
		{% else %}
			<p>No Information</p>
		{% endif %}	
		</td></tr>
		</table>			
	</body>
</html>					
			
	