<html>
	<head>
		<title>Subject List</title>
		<style type="text/css">.myTable { background-color:#FFFFE0;border-collapse:collapse; }
        .myTable th { background-color:#BDB76B;color:white; }
        .myTable td, .myTable th { padding:5px;border:1px solid #BDB76B; }
    	</style>
    </head>
    <body>
    	<center>
    	<h3>Subject List</h3><br>
    	{% if errors %}
	        <ul>
	            {% for error in errors %}
	            	<p style="color: red;">{{ error }}</p>
	            {% endfor %}
	        </ul>
		{% endif %}
		<form action="/subject/" method="get">    	
    	<table class="myTable">
        <tr><th>Subject ID</th><th>Subject Name</th><th>View Info</th></tr>
        {% for sub in subs %}        	
        	<tr><td>{{ sub.subID }}</td><td>{{ sub.subName }}</td><td><center><a href=http://127.0.0.1:8000/subject/{{ sub.subID }}/>>></a></center></td></tr>
        {% endfor %}
        <tr><td><input type="text" name="id"></td><td><input type="text" name="name"></td><td><center><input type="submit" value="+"></center></td></tr>
        </table></center>
        </form>
        <br><br><br><a href=http://127.0.0.1:8000/admin/>Back</a>
    </body>
</html>