<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Add ExamSubject</title>
</head>

<body bgcolor="#CCCCCC">
<br>
<table width="800" height="494" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <th height="62" colspan="2" style=" background-color:#F90" scope="col"><font color="#FFFFFF">Exam Room Management<font></th>
  </tr>
  <tr>
    <th width="190" height="427" scope="row" style="background-color:#F90" > <div align="center"><b><font color="#FFFFFF">Menu<font></b><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <input type="button" onClick="window.location.href='http://127.0.0.1:8000/student/{{ stdID }}'" value="Back">
    </div>
    </th>
    <td width="610" style="background-color:#FFF">
    <center xmlns="http://www.w3.org/1999/xhtml">
    	<br/>
    	{% if errors %}
	        <ul>
	            {% for error in errors %}
	            	<p style="color: red;">{{ error }}</p>
	            {% endfor %}
	        </ul>
		{% endif %}
		{% if subs %}
		<form method="get" action="/student/addSub/{{ stdID }}">    	
    	Subject :     	
    	{% for sub in subs %}
    		<input type="radio" value="{{ sub.subID }}" name="sub_id"/> {{ sub.subName }}  
    	{% endfor %}   	
    	<br/><br/><input type="submit" value="add"/>

        </form>
        {% endif %}
		</center>
    </td>
  </tr>
</table>
<br>
<br>
<br>
</body>
</html>
