<HTML>
	<HEAD>
		<TITLE>Administrator</TITLE>
	</HEAD>
    <BODY>	
    		
    	<table width="100%" border="0">
		<tr>
		<td colspan="2" style="background-color:#FFA500;"><center>
		<h1>Exam Room Management</h1>
		</center></td>
		</tr>		
		<tr valign="top">		
		<td style="background-color:#FFD700;width:100px;text-align:top;"><center>
		<br /><b>Menu</b><br />
		<br /><input type="button" onclick="window.location.href='http://127.0.0.1:8000/student'" value="Student"><br />
		<br /><input type="button" onclick="window.location.href='http://127.0.0.1:8000/subject'" value="Subject"><br />
		<br /><input type="button" onclick="window.location.href='http://127.0.0.1:8000/room'" value="Room"><br />
		<br /><input type="button" onclick="window.location.href='http://127.0.0.1:8000/logout'" value="Logout">
		
		</center></td>
		<td style="background-color:#eeeeee;width:400px;height:600px;text-align:top;"><center>
		<br />Welcome Administrator
		</center></td></tr>
		</table>
									
	</BODY>
</HTML>