<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ExamRoom Management</title>
</head>

<body bgcolor="#CCCCCC">
<br>
<table width="800" height="494" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <th height="62" style=" background-color:#F90" scope="col"><font color="#FFFFFF">Exam Room Management<font></th>
  </tr>
  <tr>
    <th height="427" style=" background-color:#FFC" scope="row" >
      
      <center>		
        {% if errors %}
        <ul>
          {% for error in errors %}
          <p style="color: red;">{{ error }}</p>
          
          {% endfor %}
        </ul>
        {% endif %}
        <br><br><form action="" method="get">     
          Student ID : <input type="text" name="id" value="XX-XXXX-XXXX"> <input type="submit" value="Search">        
          </form>		
        <br><br>
        <!--<input type="button" onClick="window.location.href='http://127.0.0.1:8000/login/'" value="Admin">-->
        </center>
    </th>
  </tr>
</table>
<br>
<br>
<br>
</body>
</html>
