<html>
	<head><title>Room Information</title></head>
	<body>		
		<table width="100%" border="0">
		<tr>
		<td colspan="2" style="background-color:#FFA500;"><center>
		<h1>Exam Room Management</h1>
		</center></td>
		</tr>		
		<tr valign="top">		
		<td style="background-color:#FFD700;width:100px;text-align:top;"><center>
		<br/><b>Menu</b><br />
		<br/><input type="button" onclick="window.location.href='http://127.0.0.1:8000/seat/view/{{ room.roomID }}/{{ room.date }}/{{ room.time }}/'" value="Seat"><br />
		<br/><input type="button" onclick="window.location.href='http://127.0.0.1:8000/room/edit/{{ room.roomID }}/{{ room.date }}/{{ room.time }}/{{ room.subj }}'" value="Edit"><br />
		<br/><input type="button" onclick="window.location.href='http://127.0.0.1:8000/room/deleting/{{ room.roomID }}/{{ room.date }}/{{ room.time }}/{{ room.subj }}'" value="Delete"><br />		
		<br/><input type="button" onclick="window.location.href='http://127.0.0.1:8000/room/'" value="Back">
		</center></td>
		<td style="background-color:#eeeeee;width:400px;height:600px;text-align:top;">
		<br />
		<center><h3>Room Information</h3></center><br>
		{% if room %}			
			<center><table cellpadding="5" cellspacing="10"<tr><td>
			<p>Room ID : {{ room.roomID }}</p>
			<p>Size : {{ room.size }}</p>
			<p>Capacity : {{ room.capacity }}</p>
			<p>Subject : {{ room.subj }}</p>
			<p>Date : {{ room.date }}</p>
			<p>Time : {{ room.time }}</p>
			</table></center>
			{% if deleting %}
			<script type="text/javascript">
			var r=confirm("Are you sure you want to delete?");
			if (r==true){
			  alert("Information has been deleted!");
			  window.location.href='http://127.0.0.1:8000/room/deleted/{{ room.roomID }}/{{ room.date }}/{{ room.time }}/{{ room.subj }}'
			}
			else{
			  window.location.href='http://127.0.0.1:8000/room/{{ room.roomID }}/{{ room.date }}/{{ room.time }}/{{ room.subj }}'
			}			
			</script>
			{% endif %}					
		{% else %}
			<p>No Information</p>
		{% endif %}
		</td></tr>
		</table>		
	</body>
</html>