<html>
	<head>
	    <title>Login Form</title>
	</head>
	<body>
		<center>
			{% if errors %}
			        <ul>
			            {% for error in errors %}
			            	<p style="color: red;">{{ error }}</p>
			            {% endfor %}
			        </ul>
			{% endif %}			
			<form action="/login/" method="get">
			<br/><br/><br/>
			<center><table cellpadding="5" cellspacing="10"<tr><td >
			<fieldset>			
			<legend>Log In</legend>			
			<br/><br/>Username : <input type="text" name="username" maxlength="10" style="width:150px">
			<br/><br/>Password : <input type="password" name="password" maxlength="10" style="width:150px">
			<br/><br/><br/><center><input type="submit" value="Enter"></center>				
			</fieldset>		
			</table></center>	
			</form>		
		</center>
		<input type="button" onclick="window.location.href='http://127.0.0.1:8000/'" value="Back">
	</body>
</html>