<html>

	<head>
	    <title>Login Form</title>
	</head>
	<body>
		<center>
			{% if errors %}
			<p style="color: red;"><br></p>
			{% endif %}
			
			<form action="/login1/" method="post">
			<center><table cellpadding="5" cellspacing="10"<tr><td >
			<fieldset>			
			<legend>Log In</legend>{% csrf_token %}			
			<br/><br/>Username : <input type="text" name="username" value="" id="username" maxlength="10" style="width:150px">
			<br/><br/>Password : <input type="password" name="password" value="" id="password" maxlength="10" style="width:150px">
			<br/><br/><br/><center><input type="submit" value="Enter"></center>				
			</fieldset>		
			</table></center>	
			</form>		
			<input type="button" onclick="window.location.href='http://127.0.0.1:8000/'" value="Back">
			</center>
	</body>

</html>
