<HTML>
	<HEAD>
		<TITLE>Check Exam Info</TITLE>
	</HEAD>
    <BODY>    	
		<center>		
			{% if errors %}
	        <ul>
	            {% for error in errors %}
	            	<p style="color: red;">{{ error }}</p>
	            {% endfor %}
	        </ul>
			{% endif %}
			<br><br><form action="" method="get">     
			Student ID : <input type="text" name="id" value="XX-XXXX-XXXX"> <input type="submit" value="Search">        
	        </form>		
			<br><br>
			<input type="button" onclick="window.location.href='http://127.0.0.1:8000/admin/'" value="Admin">
		</center>		
	</BODY>
</HTML>